:root {
    --color1: rgb(173, 100, 100);
    --color2: rgb(25, 242, 25);    
}

.product {
    background-color: var(--color1);
    padding: 2%;
    margin: 1%;    
}

.card {
    border: 1px black solid;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 16px;
}